/* Background image */
html {
  background-image: url("images/background-gradient.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(22, 22, 22);
}
/* end */

/* Heading fonts & shadows */
h1,
h2 {
  font-family: "Trebuchet MS", sans-serif;
  text-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}
/* end */

/* text gradient */ 
.text-gradient {
  color: #7319fa;
  background-image: -webkit-linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
/* end */

/* Text font & spacing */
body {
  font-family: Verdana, Helvetica, sans-serif;
  padding-bottom: 30px;
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  place-items: center;
  font-size: 18px;
  text-align: center;
}

.description {
  font-size: 20px;
  margin: 10px;
}

a {
  font-size: 20px;
}

p {
  margin: 10px;
}
/* end */

/* List styles */
ul.ingredients-list {
  list-style-type: square;
}

ul,
ol {
  line-height: 120%;
  text-align: left;
}

li {
  margin: 10px;
}
/* end */

/* Image size & shadows */
img {
  width: 650px;
  height: auto;
  border-radius: 18px;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}
/* end */

/* Links to buttons */
a.btn {
  text-decoration: none;
  border: 2px solid #7319fa;
  color: #7319fa;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  transition: all 700ms;
  overflow: hidden;
}

a.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 18px;
  transition: all 700ms;
  z-index: -1;
}

a.btn:hover::before {
  background-color: #7319fa;
}

a.btn:hover {
  color: #fff
}
/* end */
 
 /* Fixes spacing of buttons so they don't overlap*/
.left {
  margin-bottom: 40px;
  text-align: center;
}
/* end */